body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  color: #333;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.quiz {
	color: #555;
}

#js-score,
#js-cps,
#js-steps {
  text-align: center;
  color: #555;
  margin: 10px 0;
}

#js-reset {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#js-reset:hover {
  background-color: #555;
}

#js-cookie {
  max-width: 25%;
  height: auto;
}
