body
{ background-color:white; }


h1 {
  color: black;
  margin-left: 20px;
}

h2 {
  color: black;
  margin-left: 20px;
}

table, th, td   {
color: black;
border: 1px solid black;
border-collapse: collapse;

}

th, td{

padding: 10px;

}

th{

background-color:navajowhite ;
}




